body{
	
	font-family: "Helvetica"
	
}
h1,
h2,
h3 {
  font-weight: bold;
}

.first{	
	color: white;
	background-image: url("../images/img.png");
	text-align: center;
	background-size: cover;	
}


.first h1{
	font-size: 70px;	
}
.second{
  text-align: center;
}

.second h2{
	font-size: 32px;
}
.second h3{
	font-size: 23px;
}

.first h2 {
  font-size: 23px;
}


a{
	color: white;
	font-size: 18px;
}

.supporting-item p {
  font-size: 14px;
}

.footer{
	color: white;
	font-size: 11px;
	background-color: dimgray;
	text-align: left;
}
.copyr{
	font-size: 11px;
}
